*{
    padding: 0px;
    margin: 0px;
}

#container {
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
}

.textHelper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin: 60px 15px;
    background-color: burlywood;
    padding: 16px;
    border-radius: 2px;
}

.textHelper span {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}